<div
  class="h-screen bg-gray-100 flex flex-col ease-in-out duration-200 sticky top-0"
  [ngClass]="{
    'w-64': !isCollapsed(),
    'w-16': isCollapsed()
  }"
>
  <div class="h-32 flex flex-col justify-between relative flex-shrink-0">
    <button
      class="absolute top-0 w-9 h-9 flex items-center justify-center rounded-lg text-gray-600 hover:bg-gray-200 hover:text-gray-800 transition cursor-pointer mt-2"
      (click)="toggleSidebar()"
      [ngClass]="{
        'right-0 mx-2': !isCollapsed(),
        'left-1/2 -translate-x-1/2': isCollapsed()
      }"
    >
      <svg class="w-6 h-6">
        <use href="assets/icons/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <div class="flex justify-center items-end h-full pb-2">
      @if (!isCollapsed()) {
      <img src="assets/images/betrimex.png" alt="" class="max-h-full object-contain fade-in" />
      }
    </div>
  </div>

  <nav class="flex-1 overflow-y-auto space-y-2 min-h-0">
    <!-- Dashboard Link -->
    <a [routerLink]="'/dashboard'" class="block px-3">
      <div
        class="flex items-center p-2 rounded-lg text-gray-600 hover:bg-lime-300 hover:text-betrimex"
        routerLinkActive="bg-lime-300 text-betrimex"
        [ngClass]="{
          'justify-center': isCollapsed(),
          'gap-2': !isCollapsed()
        }"
      >
        <svg class="size-6 fill-current shrink-0">
          <use href="assets/icons/sprite.svg#icon-dashboard"></use>
        </svg>

        <span class="font-semibold whitespace-nowrap" *ngIf="!isCollapsed()">Trang quản trị</span>
      </div>
    </a>

    <!-- Coconut Counter Link -->
    <a [routerLink]="'/coconutcounter'" class="block px-3">
      <div
        class="flex items-center p-2 rounded-lg text-gray-600 hover:bg-lime-300 hover:text-betrimex"
        routerLinkActive="bg-lime-300 text-betrimex"
        [ngClass]="{
          'justify-center': isCollapsed(),
          'gap-2': !isCollapsed()
        }"
      >
        <svg class="size-6 shrink-0">
          <use href="assets/icons/sprite.svg#icon-qrcode"></use>
        </svg>

        <span class="font-semibold whitespace-nowrap" *ngIf="!isCollapsed()">Đăng ký đếm dừa</span>
      </div>
    </a>

    <!-- Coconut AI Link -->
    <a [routerLink]="'/coconutai'" class="block px-3">
      <div
        class="flex items-center p-2 rounded-lg text-gray-600 hover:bg-lime-300 hover:text-betrimex"
        routerLinkActive="bg-lime-300 text-betrimex"
        [ngClass]="{
          'justify-center': isCollapsed(),
          'gap-2': !isCollapsed()
        }"
      >
        <svg class="size-6">
          <use href="assets/icons/sprite.svg#icon-monitor"></use>
        </svg>

        @if (!isCollapsed()) {
        <span class="font-semibold whitespace-nowrap">Mô phỏng máy đếm AI</span>
        }
      </div>
    </a>

    <!-- Settings Link -->
    <a [routerLink]="'/settings'" class="block px-3">
      <div
        class="flex items-center p-2 rounded-lg text-gray-600 hover:bg-lime-300 hover:text-betrimex"
        routerLinkActive="bg-lime-300 text-betrimex"
        [ngClass]="{
          'justify-center': isCollapsed(),
          'gap-2': !isCollapsed()
        }"
      >
        <svg class="size-6 shrink-0">
          <use href="assets/icons/sprite.svg#icon-settings-detailed"></use>
        </svg>

        <span class="font-semibold whitespace-nowrap" *ngIf="!isCollapsed()">Cài đặt</span>
      </div>
    </a>
  </nav>

  <div class="p-4 space-y-1 flex-shrink-0 sticky bottom-0 bg-gray-100" [ngClass]="{ 'flex flex-col items-center p-2': isCollapsed() }">
    @if (!isCollapsed()) {
    <div class="text-gray-700 font-semibold px-2">
      Xin chào, <span class="text-betrimex">{{ userName() }}</span>
    </div>
    }
    <button
      class="w-full flex items-center cursor-pointer rounded-lg bg-transparent text-gray-600 hover:text-red-600 font-semibold transition"
      (click)="onLogout()"
      [ngClass]="{
        'justify-center p-2': isCollapsed(),
        'gap-2 p-2': !isCollapsed()
      }"
      [title]="isCollapsed() ? 'Đăng xuất' : ''"
    >
      <svg class="size-6 shrink-0">
        <use href="assets/icons/sprite.svg#icon-logout"></use>
      </svg>

      @if(!isCollapsed()) {
      <span class="whitespace-nowrap">Đăng xuất</span>
      }
    </button>
  </div>
</div>