/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@theme {
  --color-thadosoft: #139A9A;
  --color-betrimex: #156837;
  --color-textbetrimex: #156837;
  --font-display: "Segoe UI";
  --color-sidebartabhover: "#e3f1ee";
  --shadow-custom:  0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white; }
